<div class="bgded overlay row4" style="background-image:url('assets/images/abstract.jpg');">
    <footer id="footer" class="hoc clear"> 
      <div class="center btmspace-20">
        <h6 class="heading">MPUAT</h6>
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-instagram" href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
      <hr class="btmspace-20">
      <div class="wrapper row5">
        <div id="copyright" class="hoc clear"> 
          <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="#">CTAE</a></p>
        </div>
      </div>
    </footer>
</div>
