<!-- <html lang="">
<head>
<title>Convocation Management</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head> -->
<body id="top">
<div class="bgded overlay" style="background-image:url('assets/images/abstract.jpg');"> 
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">
      <div class="fl_left"> 
        <ul class="nospace">
          <li><i class="fas fa-phone rgtspace-5"></i>+91 294 2470837 (O)</li>
          <li><i class="far fa-envelope rgtspace-5"></i>deanctae@mpuat.ac.in</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <h1><a routerLink="/home">CTAE</a></h1>
      </div>
      <nav id="mainav" class="fl_right"> 
        <ul class="clear">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/schedule">Schedule</a></li>
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/awards">Awards</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
          <!-- <li><a href="#">Link Text</a></li> -->
        </ul>
      </nav>
    </header>
  </div>
</div>
</body>
<!--  </html> -->