<body id="top">
  <!-- <div class="page"> -->
    <div class="headerpart">
           
    </div>
      <div class="navbar">
                <a routerLink="/home" routerLinkActive="active">Home</a>
               
                <a routerLink="/register" routerLinkActive="active">Register</a>
                <a routerLink="/awards" routerLinkActive="active">Awards</a>
                <a routerLink="/schedule" routerLinkActive="active">Schedule</a>
                <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
                <a  class="admin" (click) = "show()">Admin Login</a>
              </div>
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="height: 500px; margin-top: 100px;">
    <div class="modal-content">
      <div class="modal-header " style="background-color: #000000; background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);">
        <h4 class="modal-title" id="myModalLabel" style="color:white;  font-family: 'Times New Roman', Times, serif; size: 35px;">Login</h4>
      </div>
      <div class="modal-body">
        <form name="loginform">
          <label style="font-family: 'Times New Roman', Times, serif; color: black; font-size: large;">Email</label>
          <input class="form-control" [(ngModel)]="email" name="email" type="text" required ><br>
        
          <label  style="font-family: 'Times New Roman', Times, serif; color: black; font-size: large;">Password</label>
          <input class="form-control" [(ngModel)]="password" name="password" type="password" required  ><br>
           
          <button  class="btn"  (click) = "onSubmit()">Sign-in</button>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" (click) = "hide()">Close</button>
      
      </div>
    
    </div>
  </div>
  </div>

