
<div class="bgded overlay" style="background-image:url('assets/images/background.jpg');"> 
<section >
    <br>
    <br>
    <h2 style="font-family: 'Times New Roman', Times, serif; color: white; background-color: rgba(0,0,0,.7); text-align: center; font-size: 20px; " class="col-lg-12">Select Branch of your choice!</h2>
  
    <div class="container">        
   <div class="row">
            <div class="col-lg-3 col-sm-8">
                <a  class="services-small-item ">
                    <ng-template let-a="aVariableomg" [ngTemplateOutletContext]="{aVariableomg: 'Mining Engineering'}" [ngTemplateOutlet]="selfiechw" #selfiechw>
                    <div class="icon">
                        <i class="fas fa-gavel"></i>
                    </div>
                    <h5  class="services-title">{{a}}</h5>
                    <br>
             
                    <div (click)="students(a)" class="button">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </ng-template>
                </a>
                <div class="item-bg"></div>
            </div>
            <div class="col-lg-3 col-sm-8">
                <a  class="services-small-item ">
                    <ng-template let-b="aVariableom" [ngTemplateOutletContext]="{aVariableom: 'Civil Engineering'}" [ngTemplateOutlet]="selfiech" #selfiech>
                   
                    <div class="icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <h5 class="services-title">{{b}}</h5>
                    <br>
                    <div  (click)="students(b)" class="button">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    </ng-template>
                </a>
                <div class="item-bg"></div>
            </div>
            <div class="col-lg-3 col-sm-8">
                <a  class="services-small-item">
                    <ng-template let-c="aVariableo" [ngTemplateOutletContext]="{aVariableo: 'Mechanical Engineering'}" [ngTemplateOutlet]="selfiec" #selfiec>
                   
                    <div class="icon">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <h5 class="services-title">{{c}}</h5>
                  <br>
                    <div (click)="students(c)" class="button">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    </ng-template>
                </a>
                <div class="item-bg"></div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a  class="services-small-item">
                    <ng-template let-d="aVariable" [ngTemplateOutletContext]="{aVariable: 'Electrical Engineering'}" [ngTemplateOutlet]="selfie" #selfie>
                    <div class="icon">
                        <i class="far fa-lightbulb"></i>
                    </div>
                    <h5 class="services-title">{{d}}</h5>
                    <br>
                    <div (click)="students(d)" class="button">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    </ng-template>
                </a>
                <div class="item-bg"></div>
            </div>
        </div>
        <div class="row">
      
            <div class="col-lg-4 col-sm-6">
                <a  class="services-small-item ">
                    <ng-template let-e="aVariabl" [ngTemplateOutletContext]="{aVariabl: 'Electronics Engineering'}" [ngTemplateOutlet]="selfi" #selfi>
                    <div class="icon">
                        <i class="fas fa-rss"></i>
                    </div>
                    <h5 class="services-title">{{e}}</h5>
                  
                    <div (click)="students(e)" class="button">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    </ng-template>
                </a>
                <div class="item-bg"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="services-small-item">
                    <ng-template let-f="aVariab" [ngTemplateOutletContext]="{aVariab: 'Agriculture Engineering'}" [ngTemplateOutlet]="seli" #seli>
                    <div class="icon">
                        <i class="fas fa-seedling"></i>
                    </div>
                    <h5 class="services-title">{{f}}</h5>
                   
                    <div (click)="students(f)" class="button">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    </ng-template>
                </a>
                <div class="item-bg"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a  class="services-small-item">
                    <ng-template let-g="aVariabu" [ngTemplateOutletContext]="{aVariabu: 'Computer Science Engineering'}" [ngTemplateOutlet]="selij" #selij>
                    <div class="icon">
                         <i class="fas fa-desktop"></i> 
                    </div>
                    <h5 class="services-title">{{g}}</h5>
                  
                    <div (click)="students(g)" class="button">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    </ng-template>
                </a>
                <div class="item-bg"></div>
            </div>
            </div>
    </div>
</section>
</div>