<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>
    <body>
        <div class="page">
            <div class="headerpart">
                   
            </div>
            <!-- <div class="navbar">
                <a routerLink="/home" routerLinkActive="active">Home</a>
               
                <div class="dropdown">
                  <button class="dropbtn">Convocation
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a routerLink="/invite" routerLinkActive="active">Convocation invitation</a>
                    <a routerLink="/schedule" routerLinkActive="active">Convocation schedule</a>
                  
                    
                  </div>
                </div>
                <a href="#about">About</a>
                <a routerLink="/register" routerLinkActive="active">Register</a>
                <a routerLink="/award" routerLinkActive="active">Awards</a>
                <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
                <a routerLink="/login" routerLinkActive="active" >Log Out</a>
              </div> -->
              <div class="invite">
               
                    <img class="cg" src="/assets/deanc.jpg" style="width:100px"> 
                    <div class="text" style="color: black;font-family: sans-serif;font-size: 15px;">
                        Dr. Ajay Kumar Sharma<br><br>

                       Professor & Dean<br>

                       College of Technology and Engineering<br>
                       UDAIPUR-313001<br><br>
                       Phone: +91 294 2470837 (O)<br>
                       
                       Email:  deanctae@mpuat.ac.in<br>
                       ctaedean@gmail.com<br>
                    </div>
                </div>
               <section>
    <div class="container">
      <div class="contactinfo">
        <div>
          <h2>Contact Info</h2>
          <ul class="info">
            <li>
              <span><i class="fa fa-map-marker" style="font-size:36px"></i></span>
                <span>University Road,Udaipur</span>
            </li>
            <li>
              <span><i class="fa fa-phone" style="font-size:36px"></i> </span>
                <span>011-76749683</span>
            </li>
            <li>
              <span><i class="fa fa-envelope" style="font-size:36px"></i></span>
                <span>ctaesupport@gmail.com</span>
            </li>
           
          </ul>
          <!-- <ul class="sci">
            <li>
             
               
            </li>
            <li>
              <i class="fab fa-google" ></i>
               
            </li>
            <li>
              <i class="fab fa-twitter" ></i>
                
            </li>
            <li>
              <i class="fab fa-instagram" ></i>
                
            </li>
            
          </ul> -->
        </div></div>
        <div class="contactForm">
         
            <h2><b>GET IN TOUCH</b></h2>
               <h2>We would love to hear from you!!!</h2><br><br><br>
            <div class="formBox">
              <div class="inputBox w50">
               
                <input type="text" name="" required>
                <span>First Name</span>
           </div>
           <div class="inputBox w50">
           
            <input type="text" required>
            <span>Last Name</span>
       </div>
       <div class="inputBox w50">
       
        <input type="text" required>
        <span>Email Address</span>
   </div>
   <div class="inputBox w50">
   
    <input type="text" required>
    <span>Mobile Number</span>
</div>
   <div class="inputBox w100">
   
    <input type="textarea" required>
    <span>Message</span>
</div>

  <div class="inputBox w100">
    <input type="submit" value="SUBMIT">
  </div>


           </div>
       </div>
      
    </div>
  </section>
              <div class="footer" style="height: 10px;">
                <p class="cp-text">
                  © Copyright 2021 College of Technology and Engineering. All rights reserved.
              </p>
               </div>
        </div>
     
    </body>
</html>