.page{
    width: 100%;
    height: auto;
    background-color:floralwhite;
    //border-style: groove;
    padding-bottom: 10px;
}
.headerpart{
    width: 100%;
    height: 140px;
    //border-style: groove;
    background-color: darkblue;
    background-image: url('/assets/logo-mpuat1.png');
    background-repeat: no-repeat;
}
.navbar {
    overflow: hidden;
    //background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    background-image: linear-gradient(to right, #00008b, #291b9b, #4130ac, #5645bd, #6a5acd);
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropbtn{
    color: white;
    box-shadow: 2px 2px 10px black;
}
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    // color: rgb(14, 1, 1);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(245, 238, 238);
    color: black;
    box-shadow: 2px 2px 10px black;
  }
  
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropbtn:hover{
    box-shadow:  2px 10px black;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
   
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
//   body{
//     margin: 10px;
//   }
  section{
    position: relative;
    display: flex;
    justify-content: center;
   // margin-top: 10px;
    align-items: center;
    min-height: 650px;
    // background-image: url(/assets/Banner2.jpeg);
    background: white;
    //background: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
  }
  section::before{
    content:'' ;
    position:absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background:#fff;
    //background: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
  }
  section .container{
    position: relative;
    min-width: 1100px;min-height: 550px;
    display: flex;
    z-index: 1000;
  }
  section .container .contactinfo{
    position:absolute;
    top: 40px;
    // left: 0;
    width: 300px;
    height: calc(100%-80px);
    background-color: darkblue;
    //background: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2);  
  
  }
  section .container .contactinfo h2{
    color:#fff;
    font-size: 24px;
    font-weight: 500;
  
  }
  section .container .contactinfo .info{
    position: relative;
    margin: 20px 0;
  }
  section .container .contactinfo .info li{
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
  }
  section .container .contactinfo .info li span:nth-child(1)
  {
    width: 30px;
    min-width: 30px;
  }
  section .container .contactinfo .info li span:nth-child(1) i
  {
    filter: invert(1);
    max-width: 100%;
    opacity: 0.5;
  }
  
  section .container .contactinfo .info li span:nth-child(2)
  { color: #fff;
    margin-left: 10px;
    font-weight: 700;
    font:  sans-serif;
    opacity: 0.5;
  
  }
  section .container .contactinfo .info li:hover span:nth-child(1) i,
  section .container .contactinfo .info li:hover span:nth-child(2)
  {
    opacity: 1;
  }
  section .container .contactinfo .sci{
    position: relative;
    display: flex;
  }
  section .container .contactinfo .sci li {
  list-style: none;
  margin-right: 15px;
  }
  section .container .contactinfo .sci li img{
  filter: invert(1);
  opacity: 0.5;
  text-decoration: none;
  }
  
  section .container .contactinfo .sci li:hover  img{
    
    opacity: 1;
    }
  
    section .container .contactForm{
      position: absolute;
      padding: 70px 20px;
      background: #fff;
      margin-left: 150px;
      padding-left: 250px;
      width: calc(100%-150px);
      height: 400px;
      box-shadow: 0 50px 50px rgba(0,0,0,0.5);
    }
    section .container .contactForm h2{
    color:black;
    font-size: 24px;
    font-weight: 500;
    font:  sans-serif;
    }
    section .container .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    }
    section .container .contactForm .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
    }
    section .container .contactForm .formBox .inputBox.w50{
      width: 47%;
    }
    section .container .contactForm .formBox .inputBox.w100{
    width: 100%;
    }
    section .container .contactForm .formBox .inputBox input,
    section .container .contactForm .formBox .inputBox textarea{
      
      // left: 0;
      width: 100%  !important;
      resize: none;
      color: black;
      font-size: 18px;
      font-weight: 300;
      border: none;
      border-bottom: 1px solid #777;
      padding: 5px 0;
      outline: none;
      
    }
    section .container .contactForm .formBox .inputBox textarea{
      min-height: 100px;
    }
    section .container .contactForm .formBox .inputBox span{
      position: absolute;
      left: 0;
      color: black;
      font-size: 18px;
      font-weight: 300;
      transition: 0.3s;
      padding: 5px 0;
      pointer-events: none;
      
    }
    section .container .contactForm .formBox .inputBox input:focus ~ span,
    section .container .contactForm .formBox .inputBox textarea:focus ~ span,
    section .container .contactForm .formBox .inputBox input:valid ~ span,
    section .container .contactForm .formBox .inputBox textarea:valid ~ span
    { 
      transform: translateY(-20px);
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      color: red;
    }
    section .container .contactForm .formBox .inputBox input[type="submit"]{
      position: relative;
      cursor: pointer;
      //background:darkblue;
      //background: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
      background-image: linear-gradient(to right, #00008b, #291b9b, #4130ac, #5645bd, #6a5acd);
      color:black;
      font-weight: 800;
      border: none;
      max-width: 150px;
      padding: 12px;
    }
    section .container .contactForm .formBox .inputBox input[type="submit"]:hover{
      background: green;
      color: white;
    }
    
.cp-text{ color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    background:#777; text-align: center; padding:5%;
    height: 10px;
    //margin-bottom: 10px;
}
.invite{
    //background-image: linear-gradient(to right, #00008b, #291b9b, #4130ac, #5645bd, #6a5acd);
    background-color: rgb(216, 216, 127);
    width: 1298px;
    height: 150px;
    margin-top: 10px;
    //border-style: groove;
    color:black;
    display: inline-block;
    padding: 10px;
    margin-bottom: 0;
}
.text{
    float: right;
    padding: 2px;
    //border-style: groove;
    width: 1190px;
    height: 100px;
    color: black;
}
