<body>
<div class="container" id="seatpdf">
    <!-- <div class="row justify-content-center"> -->
      <div class="col-md-15 ticket ">
          <h1> Convocation Seats Booked</h1>
          <table class="table ps_details ">
            <tr>
              <th>Venue</th>
              <th>Date</th>
              <th>Reporting Time </th>               
            </tr>
            <tr>
                <td>CTAE Conference Hall</td>
                <td>24th December 2021,Friday</td>
                <td>10:00AM</td>
             </tr>
          </table>
          <table class="table ps_details">
            <tr>
              <th>Name</th>
              <th>Branch</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Seats</th>
              <th>Seat No.</th>   
            </tr>
            <tr>
              <td>{{Name}}</td>
              <td>{{Branch}}</td>
              <td>{{Email}}</td>
              <td>{{Phone}}</td>
              <td>{{Rgno}}</td>
              <td>{{Bookedseats}}</td>
            </tr>
          </table>  
      </div>     
    <!-- </div>   -->   
  </div>
  <button style="width: 200px; font-family: 'Times New Roman', Times, serif;" (click)="download()">Download PDF</button><br>
  <button style="width: 200px; font-family: 'Times New Roman', Times, serif;" (click)="registernew()">Register Another Student</button><br>
  <br>
  <br>
</body>