
body {
    display:flexbox;
     align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    // flex-direction: column;
    min-height: 100vh;
    padding: 4rem 0;
    background-color: white;
    font-family:'Times New Roman', Times, serif;
  }

 

select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  margin-left: 450px;
  width: 50%;
  margin-top: 20px;
  background-color: #e8eeef;
  color: #3c474e;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  display: inline-flex;
}

.buttonk {
margin-top: 10px;
  color: black;
  background: rgb(247, 247, 104);
  font-size: 20px;
  margin-left: 60px;
  align-self: center;
  text-align: center;
  font-style: normal;
  height: 45px;
  width: 85px;
  font-family: 'Times New Roman', Times, serif;
border: black;
border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}
.buttonk:hover{
    cursor: pointer;
    background:rgb(57, 194, 57);
    color: black;
}
table {
    border-collapse: collapse;
    align-items: center;
    margin-left: 115px;
    margin-right: 30px;
    // width: 20%;
    padding: 10px;
    border-radius: 00.7rem;
   
     max-width: 80rem;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    color: black;
  }
  
  tr:nth-child(even){background-color: #f2f2f2d7}
  
  th {
   // background-color: rgba(14, 12, 12, 0.425);
   background-color: black;
    color: white;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  
  