body{
    min-height: 1550px;
    overflow-y: hidden;
    font-family: 'Times New Roman', Times, serif;
    background-color:floralwhite;
}
.page{
    width: 100%;
    // height: auto;
    background-color:floralwhite;
    //border-style: groove;
    padding-bottom: 10px;
}
.headerpart{
    width: 100%;
    height: 140px;
    //border-style: groove;
    background-color: darkblue;
    background-image: url('/assets/logo-mpuat1.png');
    background-repeat: no-repeat;
}
.navbar {
    overflow: hidden;
    //background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    // background-image: linear-gradient(to right, #00008b, #291b9b, #4130ac, #5645bd, #6a5acd);
    background-image: url('/assets/images/abstract.jpg');
    font-family:'Times New Roman', Times, serif;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropbtn{
    color: white;
    box-shadow: 2px 2px 10px black;
}
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    // color: rgb(14, 1, 1);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(245, 238, 238);
    color: black;
    box-shadow: 2px 2px 10px black;
  }
  
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropbtn:hover{
    box-shadow:  2px 10px black;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
   
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.bodypart{
    width: 100%;
    height: 600px;
    //border-style: groove;
    margin-top: 5px;
  margin-bottom: 0;
}

.bodypart .imgpart{
    width: 780px;
    height: 445px;
    border-style: groove;
    display: inline-block;
}
.imgpart:hover{
    box-shadow: 4px 4px 12px black;
}

.bodypart .events h1{
  color:green;
  
}

.bodypart .events {
    width: 520px;
    height: 445px;
    border-style: groove;
    float: right;
}
.bodypart .events .news {
    width: 510px;
    height: 200px;
    padding: 5px;
    //border-style: groove;
    float: right;   
}
.bodypart .events .news .newsinfo{
    width: 500px;
    height: 200px;
    padding: 5px;
    //border-style: groove;
    float: right;   
}
.bodypart .events .news .newsinfo h1{

text-align: center;}
.bodypart .events .news .newsinfo h3{

    text-align: center;}
    
    .cards
    {
        width: 25%;
        height: 345px;
        background: linear-gradient(147deg, #000000 0%, #2c3e50 74%);;
       // background-image: linear-gradient(to right, #00008b, #291b9b, #4130ac, #5645bd, #6a5acd);
        // background-color: #1fd1f9;
        // background-color: #60dfcd;
        // background-color: #f89b9e;
        // background-color: #0beef9;
        // background-color: #96c8fb;
        // background: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%); 
        border-radius: 5px;
        margin:5px;
        margin-left: 50px;
        margin-right: 50px;
        box-shadow: 2px 2px 10px black;
    
        display: inline-block;
    }
    .cards:hover
    {
        box-shadow: 4px 4px 12px black;
    }
    
    .image img{
        width: 100%;
        height: 220px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    
    .title
    {
        text-align: center;
        
       
    }
     .guest
     { width: 1310px;
         border-style: groove;
       margin-top: 50px; 
       margin-left: 20px; 
    //    margin-bottom: 10px;
     padding-bottom: 20px;
     }
.invite{
  background:linear-gradient(147deg, #000000 0%, #2c3e50 74%);
   // background-image: linear-gradient(to right, #00008b, #291b9b, #4130ac, #5645bd, #6a5acd);
    width: 1310px;
    height: 350px;
    margin: auto;
    margin-top: 50px;
    border-style: groove;
    color: white;
    // text-align: center;
}
.invite .h2{
    text-align: center;
}
.text{
    background-color: rgb(216, 216, 127);
    padding: 10px;
    border-style: groove;
    margin: 50px;
    margin-top: 20px;
    height: 240px;
    color: black;
}

h6:hover{
  color:white
}
h5:hover{
  color:white
}

.cg:hover{
    box-shadow: 4px 4px 12px black;
}
.cp-text{ color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    background:#777; text-align: center; padding:5%;
    height: 10px;
    //margin-bottom: 10px;
}