<!-- <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head> -->
    <body>
        <div class="page">
           
            <!-- <div class="navbar">
                <a routerLink="/home" routerLinkActive="active">Home</a>
               
                <div class="dropdown">
                  <button class="dropbtn">Convocation
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a routerLink="/guide" routerLinkActive="active">Convocation invitation</a>
                    <a routerLink="/symptoms" routerLinkActive="active">Convocation schedule</a>
                  
                    
                  </div>
                </div>
                <a href="#about">About</a>
                <a routerLink="/cure" routerLinkActive="active">Register</a>
                <a routerLink="/cure" routerLinkActive="active">Awards</a>
                <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
                <a routerLink="/login" routerLinkActive="active" >Log Out</a>
              </div> -->
              <br><br>
              <div class="bodypart">
                  <div class="imgpart" >
                    <img class="mySlides" src="/assets/images/slideimg.gif" style="width:100%"> 
                    
                  </div>
                  <div class="events">
                      <div class="news">
                        <img class="cg" src="/assets/images/convologo.jpeg" style="width:100%"> 
                         <div class="newsinfo">
                             <h1>SAVE THE DATE</h1>

                             <h3>24th DECEMBER 2021</h3>
                             <h3>Friday</h3>
                         </div>
                      </div>
                  </div>
                  <div class="invite">
                      <br>
                    <h2 style="text-align: center;">CONVOCATION INVITATION</h2>
                    <div class="text">
                      Dear Alumnus,<br><br>

                      A Convocation Ceremony is a momentous milestone for students, as also the University and its constituent Institutes. It is a day when we celebrate the culmination of your academic endeavours, diligence, commitment and enthusiasm. It is indeed a moment of pride for all of us to acknowledge the praiseworthy role of our students, alumni and their families. <br>
                      
                   
                      The team CTAE considers it a privilege to invite you to the 20 e-Convocation Ceremony on 24" December 2020 (Friday) at 10 AM. <br>
                      
                      
                      With best wishes for a bright and successful future,<br><br>
                      
                      Dr. Ajay Kumar Sharma,<br> Dean CTAE
                  </div>   </div>
                  <div class="guest">
                      <h1 style="text-align: center; color: black; font-weight: 900;"> GUEST OF HONOR</h1><br>
                  <div class="cards">
                    <div class="image">
                        <img src="/assets/images/ad.jpg">
            
                    </div>
            
                    <div class="title">
                        <h3>
                            Hon'able guest
                        </h3>
                        <h5>ASHOK DALWAI</h5>
                        <h6>NRAA's CEO </h6>
                    </div>
                    <!-- <div class="description">
                     
                         <button (click)="medicine()">Check Availability</button> 
           
            
                    </div>
                     -->
            
            
                </div>
                <div class="cards">
                    <div class="image">
                        <img src="assets/images/gofr.jpg">
            
                    </div>
            
                    <div class="title">
                        <h3>
                            CHIEF GUEST
                        </h3>
                        <h5>SHRI KALRAJ MISHRA</h5>
                        <h6>Governor of Rajasthan</h6>
                    </div>
                    <!-- <div class="description">
                     
                         <button (click)="medicine()">Check Availability</button> 
           
            
                    </div>
                     -->
            
            
                </div>
                <div class="cards">
                    <div class="image">
                        <img src="assets/images/cgc.png">
            
                    </div>
            
                    <div class="title">
                        <h3>
                            Hon'able guest
                        </h3>
                        <h5>SHRI LALCHAND KATARIYA</h5>
                        <h6>Agriculture Minister(Raj.)</h6>
                        
                    </div>
                    <!-- <div class="description">
                     
                         <button (click)="medicine()">Check Availability</button> 
           
            
                    </div>
                     -->
            
            
                </div>
              </div>
                 <!-- <div class="footer" style="height: 10px;">
                  <p class="cp-text">
                    © Copyright 2021 College of Technology and Engineering. All rights reserved.
                </p>
                 </div> -->
              </div>
        </div>
     
    </body>
<!-- </html> -->