<body id="top">
    <div class="bgded overlay" style="background-image:url('assets/images/background.jpg');"> 
      <div id="breadcrumb" class="hoc clear"> 
       <h6 class="heading">Register</h6>
      </div>
      <div class="wrapper row3">
        <main class="hoc container clear"> 
          <div class="content">           
            <form (ngSubmit)="submitCall(memberObject)" #memberObject="ngForm">
              <label>Name</label>
              <input class="form-control" name="name" #name="ngModel" type="string" required placeholder="Enter name" ngModel><br>
              <p style="color: red;" *ngIf="!name.valid">*Input required</p>
              <label>Mother's Name</label>
              <input class="form-control" name="mname" #mname="ngModel" type="string" required placeholder="Enter mother's name" ngModel><br>
              <p style="color: red;" *ngIf="!mname.valid">*Input required</p>
              <label>Father's Name</label>
              <input class="form-control" name="fname" #fname="ngModel" type="string" required placeholder="Enter father's name" ngModel><br>
              <p style="color: red;" *ngIf="!fname.valid">*Input required</p>
              <label>Branch</label>
              <input class="form-control" name="branch" #branch="ngModel" type="string" required placeholder="Enter branch" ngModel><br>
              <p style="color: red;" *ngIf="!branch.valid">*Input required</p>
              <label>Phone number</label>
              <input class="form-control" name="phone" #phone="ngModel" type="number" required placeholder="Enter phone number" ngModel><br>
              <p style="color: red;" *ngIf="!phone.valid">*Input required</p>
              <label>Address</label>
              <input class="form-control" name="address" #address="ngModel" type="string" required placeholder="Enter address" ngModel><br>
              <p style="color: red;" *ngIf="!address.valid">*Input required</p>
              <label>No. of Guests</label>
              <input class="form-control" name="guestno" #guestno="ngModel" type="number" required placeholder="Enter number of guests" ngModel><br>
              <p style="color: red;" *ngIf="!guestno.valid">*Input required</p>
              <label>Names of Guests</label>
              <input class="form-control" name="guestnames" #guestnames="ngModel" type="string" required placeholder="Enter names of guests(, separated)" ngModel><br>
              <p style="color: red;" *ngIf="!guestnames.valid">*Input required</p>
              <button [disabled]="!memberObject.valid" class="btn btn-dark btn-block" type="submit">Submit</button>
            </form>
            </div>
          <!-- / main body -->
          <div class="clear"></div>
        </main>
      </div>
    </div>
    <!-- JAVASCRIPTS -->
    <script src="../layout/scripts/jquery.min.js"></script>
    <script src="../layout/scripts/jquery.backtotop.js"></script>
    <script src="../layout/scripts/jquery.mobilemenu.js"></script>
    </body>